<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<app-navbar (currentTab)="getCurrentTab($event)"></app-navbar>

<div *ngIf="currentTab == 'Dashboard'">
  <div class="container">
    <h1 class="display-1 duration">Time Taken</h1>
    <h1 class="display-1 duration">01:15:33</h1>
  </div>

  <app-progress-bar></app-progress-bar>

  <app-mutation-stats-summary [totalMutationScore]="totalMutationScore" [killedMutants]="totalKilledMutants" [survivingMutants]="totalSurvivingMutants">
  </app-mutation-stats-summary>

  <app-mutated-files-summary [sourceFiles]="sourceFiles" [sourceFilePath]="sourceFilePath"></app-mutated-files-summary>
</div>

<div *ngIf="currentTab == 'In-Depth View'">

  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading panel-head-padding">
          <div class="col-md-6">
            <h3 class="panel-title">File Containing Mutants</h3>
          </div>
          <div class="col-md-6">
            <h3 class="panel-title">Filter by Mutator</h3>
          </div>
      </div>
        <div class="panel panel-body">
          
          <div class="col-md-6">        
            <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            Associated test file
          </div>
          <div class="col-md-6">
            <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            Description of mutator
          </div>
      </div>
    </div> 
  </div>
  
  <div class="container"> 
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Chosen Mutator on <code>HelloWorld.ts</code></h3>
        </div>
        <div class="panel-body">
          <code style="font-size: 20px">return true; --</code>
          <code style="font-size: 20px">return false; ++</code>
          Panel content
        </div>
    </div>
    
  </div>
  



</div>