<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<app-navbar></app-navbar>

<div class="container">
  <h1 class="display-1 duration">Time Taken</h1>
  <h1 class="display-1 duration">01:15:33</h1>
</div>

<app-progress-bar></app-progress-bar>

<app-mutation-stats-summary [totalMutationScore]="totalMutationScore" [totalFailedTests]="totalFailedTests" [totalPassedTests]="totalPassedTests">
</app-mutation-stats-summary>

<app-mutated-files-summary [sourceFiles]="sourceFiles" [sourceFilePath]="sourceFilePath"></app-mutated-files-summary>